<h1>Calculator</h1>

<p>This is a simple web calculator</p>

<div *ngIf=isAuthenticated>
  <input [(ngModel)]="param1" />
  <button (click)="sum()"> + </button>
  <button (click)="subtract()"> - </button>
  <button (click)="multiply()"> * </button>
  <button (click)="split()"> / </button>
  <button (click)="power()"> POWER </button>
  <button (click)="percentage()"> % </button>
  <button (click)="factorial()"> ! </button>
  <input [(ngModel)]="param2" />

  <H2>Result</H2>

  <div>
    <h2><b>{{result}}</b></h2>
    isAuthenticated: <b>{{isAuthenticated}}</b><br />
    Username: <b>{{username}}</b><br />
  </div>
</div>

<div *ngIf=!isAuthenticated>
  please sign in to continue <button style="color:red" (click)="authenticate()">sign in</button>
</div>
  

