<html>
<head>
    <title>nicold.APICalculator</title>
</head>

<body>
    Yhis API is available via <br />
    <p />

    <a href="/api/scientificcalc/power?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/power?param1=5&amp;param2=7</a><br />
    <a href="/api/scientificcalc/percentage?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/percentage?param1=5&amp;param2=7</a><br />
    <a href="/api/scientificcalc/factorial?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/factorial?param1=5&amp;param2=7</a><br />

</body>
</html>