<html>
<head>
    <title>nicold.ScientificAPICalculator</title>
</head>

<body>
    This API is available via <br />
    <p />

    <a href="/api/scientificcalc/power?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/power?param1=5&amp;param2=7</a><br />
    <a href="/api/scientificcalc/percentage?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/percentage?param1=5&amp;param2=7</a><br />
    <a href="/api/scientificcalc/factorial?param1=5&amp;param2=7">http://nicolapiscientificcalculator.azurewebsites.net/api/scientificcalc/factorial?param1=5&amp;param2=7</a><br />

    <p>
        to have a bearer <a href="https://login.microsoftonline.com/nicolb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signin-default&client_id=c07391de-3205-4496-a704-4607b18b64f9&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid%20https%3A%2F%2Fnicolb2c.onmicrosoft.com%2FApiScientificCalculator%2Fuser_impersonation&response_type=id_token%20token&prompt=login" target="_blank">click here</a>                                  
    </p>
</body>
</html>