<html>
<head>
    <title>nicold.APICalculator</title>
</head>

<body>
    this API is now available via <br />
    <p />


    <a href="/api/calc/sum?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/sum?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/subtract?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/subtract?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/multiply?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/multiply?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/split?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/split?param1=5&amp;param2=7</a><br />

    <p />
    to have a bearer <a target="_blank" href="https://login.microsoftonline.com/nicolb2c.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_signin-default&client_id=27339a64-0c55-4ba0-8632-aaaa81030814&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=https%3A%2F%2Fnicolb2c.onmicrosoft.com%2FApiCalculator%2Fuser_impersonation&response_type=token&prompt=login">click here</a>
</body>
</html>