<html>
<head>
    <title>nicold.APICalculator</title>
</head>

<body>
    this API is now available via <br />
    <p />
    http://nicolapicalculator.azurewebsites.net/api/calc/sum?param1=5&amp;param2=7 <br />
    http://nicolapicalculator.azurewebsites.net/api/calc/subtract?param1=5&amp;param2=7 <br />
    http://nicolapicalculator.azurewebsites.net/api/calc/multiply?param1=5&amp;param2=7 <br />
    http://nicolapicalculator.azurewebsites.net/api/calc/split?param1=5&amp;param2=7 <br />
</body>
</html>