<html>
<head>
    <title>nicold.APICalculator</title>
</head>

<body>
    This API is available via <br />
    <p />

    <a href="/api/calc/sum?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/sum?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/subtract?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/subtract?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/multiply?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/multiply?param1=5&amp;param2=7</a><br />
    <a href="/api/calc/split?param1=5&amp;param2=7">http://nicolapicalculator.azurewebsites.net/api/calc/split?param1=5&amp;param2=7</a><br />

</body>
</html>